[user]
name = Brendon O'Laney
email = brendon.olaney@protonmail.com

[core]
excludesfile = /Users/brendonolaney/.gitignore_global

[user]
  name = Brendon O'Laney
  email = brendon.olaney@clio.com

[github]
	user = brendonolaney

[url "git@github.com:clio"]
  insteadOf = https://github.com/clio
